/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--accent-font);
  gap: 100px;
}

.header {
  background-image: var(--header-background-gradient);
  background-attachment: fixed;
  background-size: cover;
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--second-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}

.lazy-block {
  inline-size: clamp(320px, 100%, 700px);
  background-color: #fff;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: clamp(320px, 100%, 368px);
  border: 2px solid #000;
}

.header-title {
  font-size: clamp(4.1rem, 100%, 10rem);
  padding-bottom: 20px;
}
