/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  gap: 100px;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  font-variation-settings: "wght" var(--accent-weight);
  background-image: var(--header-background-gradient);
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-family: var(--second-font);
  font-size: var(--main-font-size, 18px);
  text-align: center;
  text-transform: uppercase;
  inline-size: 100%;
  block-size: 100vh;
}

.lazy-block {
  background-color: #fff;
  inline-size: clamp(320px, 100%, 700px);
}

.card-text {
  inline-size: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  padding: 122px 16px;
  block-size: max-content;
}

.header-title {
  padding-bottom: 20px;
  font-size: min(13.06vw, 65px);
}

.header-subtitle {
  font-weight: var(--accent-weight);
  font-size: min(3.73vw, 23px);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: calc(-1 * (100vh - 200px - min(49vh, 368px)));
  padding-bottom: 100px;
}

.card {
  border: 2px solid #000;
}

.card-title {
  padding: 5px 10px 3px 10px;
  font-variation-settings: "wght" var(--title-weight);
  letter-spacing: -0.4px;
  text-wrap: wrap;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 19px 25px 25px;
  font-size: var(--main-font-size, 18px);
  line-height: 117%;
}

.image-container::after {
  content: "</HTML>";
  position: absolute;
  top: 30px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--second-font);
  font-weight: var(--accent-weight);
  font-size: var(--second-font-size, 14px);
  text-transform: uppercase;
  text-shadow: 0 0 3px #fff;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-container::after {
    top: 28px;
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card-like-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  align-self: flex-end;
}

.button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: var(--second-font-size, 14px);
  line-height: 90%;
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
  transition: fill 0.1s linear;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon {
  display: flex;
  align-self: center;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: likeAnimationScale 0.3s ease-in;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparksAnimation 0.3s ease-in;
  animation-delay: 0.3s;
}

.card__icon-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.card-animation {
  position: relative;
  overflow: hidden;
}

.card__like-button,
.button {
  border: 2px solid var(--contour-color, #000);
  padding: 9px 35px;
  font-family: var(--second-font);
  background-color: #fff;
}

.card-animation:hover {
  cursor: pointer;
}

.card-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--contour-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%, -15%);
  inline-size: 100%;
  block-size: 100%;
}

.card-animation:hover::after {
  transform: translate(0, 0);
}

.card__icon-button:focus {
  outline: 2px solid var(--contour-color, #000);
}

.card__like-button:focus,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--contour-color, #000);
  outline: 0;
}

.image-container {
  position: relative;
}

.image-card {
  border-top: 2px solid var(--contour-color, #000);
  border-bottom: 2px solid var(--contour-color, #000);
  object-fit: cover;
  object-position: center;
  min-inline-size: 320px;
  max-inline-size: 700px;
  max-block-size: 700px;
  min-block-size: 320px;
  inline-size: 100%;
  block-size: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--contour-color, #000);
  font-size: var(--second-font-size);
  background-color: transparent;
}

.save-button {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
  inline-size: 100%;
}

.save-button-container {
  inline-size: 81.6%;
}

.save-button-text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: var(--second-font);
  font-size: var(--second-font-size);
  letter-spacing: 0;
  mix-blend-mode: difference;
}

.image-default {
  filter: blur(5px) contrast(150%);
}

.image-dark {
  filter: grayscale(80%);
}

.image-grisaille {
  filter: brightness(0.3);
}

.image-contrast {
  filter: contrast(200%);
}

.image-negative {
  filter: sepia(70%);
}

.image-neon {
  filter: saturate(30%);
}

.image-blur {
  filter: invert(75%);
}

.image-disket {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.modal-window-disket {
  padding: 28.5px 35px;
  inline-size: 90.9%;
  max-inline-size: 353px;
}

.modal-button-close {
  width: 100%;
  border: 2px solid var(--contour-color, #000);
  padding: 9px 17px;
  font-weight: var(--accent-weight);
  font-family: var(--second-font);
  line-height: 90%;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-content-text {
  font-family: var(--second-font);
  line-height: 150%;
  text-transform: uppercase;
}

.content-container {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}

.modal-image-disket {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  fill: var(--contour-color, #000);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

@media (width > 375px) {
  .main {
    gap: 49px;
  }

  .header-container {
    padding: 130px 15px;
  }

  .save-button {
    flex-direction: row;
  }

  .save-button-container {
    inline-size: 335px;
  }

  .card-content {
    padding: 20.5px 26px 25px;
  }

  .modal-window-disket {
    padding: 28.5px;
  }

  .image-disket {
    width: 21px;
    height: 21px;
  }
}
