/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: 100%;
  font-weight: var(--main-weight);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--accent-font);
  gap: 100px;
}

.header {
  background-image: var(--header-background-gradient);
  background-attachment: fixed;
  background-size: cover;
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  font-family: var(--second-font);
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  font-size: var(--main-font-size, 18px);
}

.lazy-block {
  inline-size: clamp(320px, 100%, 700px);
  background-color: #fff;
}

.card-text {
  inline-size: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: min(49vh, 368px);
  border: 2px solid #000;
}

.header-title {
  font-size: min(13.06vw, 65px);
  padding-bottom: 20px;
}

.header-subtitle {
  font-size: min(3.73vw, 23px);
  font-weight: var(--accent-weight);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(-1*(100vh - 200px - min(49vh, 368px)));
  gap: 48px;
  padding-bottom: 100px;
}

.card {
  border: 2px solid #000;
}

.card-title {
  font-weight: var(--title-weight);
  padding: 5px 10px 3px 10px;
  letter-spacing: -0.4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 19px 25px 25px;
  gap: 24px;
  line-height: 117%;
  font-size: var(--main-font-size, 18px);
}

.image-container::after {
  content: '</HTML>';
  position: absolute;
  top: 30px;
  right: 25px;
  font-weight: var(--accent-weight);
  font-size: var(--second-font-size, 14px);
  font-family: var(--second-font), sans-serif;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 3px #fff;
  opacity: 0.5;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-container::after {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
    top: 28px;
  }
}

.card-like-content {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.button__text {
  font-size: var(--second-font-size, 14px);
  line-height: 90%;
  color: #fff;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
  transition: fill 0.1s linear;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon {
  display: flex;
  align-self: center;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core{
  transition-delay: 0;
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .main-body{
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core{
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0;
}

.like-icon.is-liked .main-body{
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  animation: likeAnimationScale 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in;
  transform-origin: center;
  animation-delay: 0.3s;
}
.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.card-animation {
  position: relative;
  overflow: hidden;
}

.card__like-button {
  inline-size: 130px;
  padding: 9px 17px;
  background-color: #fff;
  font-family: var(--second-font), sans-serif;
  border: 2px solid var(--contour-color, #000);
}

.card-animation:hover {
  cursor: pointer;
}

.card-animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--contour-color, #000);
  transform: translate(-100%, -100%) ;
  transition: transform 0.5s ease-in-out;
}

.card-animation:hover::after {
  transform: translate(0, 0);
}

.card__icon-button:focus {
  outline: 2px solid var(--contour-color, #000);
}

.card__like-button:focus,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--contour-color, #000);
  outline: 0;
}

.image-container {
  position: relative;

}

.image-card {
  min-inline-size: 320px;
  max-inline-size: 700px;
  max-block-size: 700px;
  min-block-size: 320px;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 2px solid var(--contour-color, #000);
  border-top: 2px solid var(--contour-color, #000);
}

.save-button {
  border: 2px solid var(--contour-color, #000);
  padding: 15px 18px;
  font-size: var(--second-font-size);
  inline-size: min(81.6%, 335px);
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 8px;
}

.save-button-text {
  font-family: var(--second-font), sans-serif;
  font-size: var(--second-font-size);
  letter-spacing: 0;
  position: relative;
  color: #fff;
  z-index: 1;
  mix-blend-mode: difference;
}

  .image-default {
    filter: blur(5px);
  }

  .image-dark {
    filter: grayscale(80%);
  }

  .image-grisaille {
    filter: brightness(0.3);
  }

  .image-contrast {
    filter: contrast(200%);
  }

  .image-negative {
    filter: sepia(70%);
  }

  .image-neon {
    filter: saturate(30%);
  }

  .image-blur {
    filter: invert(75%);
  }

.image-disket {
  position: relative;
  mix-blend-mode: difference;
  z-index: 1;
}

.modal-window-disket {
  max-inline-size: 353px;
  padding: 30px;
}

.modal-button-close {
  width: 100%;
  border: 2px solid var(--contour-color, #000);
  padding: 9px 17px;
  background-color: transparent;
  line-height: 90%;
  text-transform: uppercase;
  font-family: var(--second-font), sans-serif;
}

.modal-content-text {
  text-transform: uppercase;
  line-height: 150%;
  font-family: var(--second-font), sans-serif;
}

.content-container {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  padding-bottom: 30px;
  align-items: center;
}

.modal-image-disket {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  fill: var(--contour-color, #000);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
  backdrop-filter: blur(7px);
}

@media(height > 667px){
  .main {
    gap: 49px;
  }

  .card-default {
    order: 1;
  }

  .card-dark {
    order: 2;
  }

  .card-grisaille {
    order: 3;
  }

  .card-contrast {
    order: 4;
  }

  .card-negative {
    order: 5;
  }

  .card-neon {
    order: 6;
  }

  .card-blur {
    order: 7;
  }

  .card-brutal {
    order: 8;
  }

  .save-button-container {
    order: 9;
  }

  .save-button {
    flex-direction: row;
  }

  .card-content {
    padding: 20px 25px 25px;
  }

  .image-disket {
    width: 21px;
    height: 21px;
  }
}
